/* Colors and Styles (Default) */
:root{
    --PrimaryColor: hsl(193, 95%, 68%);
    --HoverColor: #ABE9F9;
    --paleGreen: hsl(190, 80%, 85%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);

    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem;
}

.signup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100vh);
    display: flex;
    justify-content: center;

    .logoReact {
        margin: 0 auto;
    }

    h1 {
        font-size: var(--biggestFontSize);
        font-weight: 700;
    }
}